html{
    width: 100%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(216, 50%, 16%);
}

main{
    width: 100%;
    height: 100%;
}

section{
    max-width: 300px;
    width: 100%;
    min-height: 55%;
    background-color: hsl(215, 32%, 27%);
}

.code{
    font-weight: 600;
    font-size: 1.125em;
    color: white;
}

p.text{
    color: hsla(215, 52%, 70%, 0.692);
    font-size: 300;
    font-size: 0.8rem;
}