html{
    width: 100%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(217, 54%, 11%);
}

main{
    width: 100%;
    height: 100%;
}

section{
    max-width: 300px;
    width: 100%;
    min-height: 55%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
}

div.picture{
    position: relative;
    background-color: hsl(178, 100%, 50%);
    border-radius: 15px;
}

section div.picture img.pic{
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: opacity .5s ease;
}

section div.picture img:nth-of-type(2){
    position: absolute;
    top: 108px;
    left: 108px;
    opacity: 0;
    transition: opacity .5s ease;
}

.picture:hover{
    cursor: pointer;
}

.picture:hover .overlay{
    opacity: 1;
}

.picture:hover .pic{
    opacity: 0.5;
}

.code{
    font-weight: 600;
    font-size: 1.125em;
    color: white;
    transition: color 0.5s;
}

.code:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

p.text{
    color: hsl(215, 51%, 70%);
    font-size: 300;
    font-size: 0.8em;
}

div.tag{
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

div.price{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    font-size: 0.75em;
}

div.time{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 0.75em;
}

.credit{
    color: hsl(215, 51%, 70%);
    font-size: 0.7em;
    letter-spacing: 1.25px;
    font-weight: 400;
}

.credit img{
    max-width: 27.5px;
    border: 1px solid white;
}

.name{
    color: white;
    transition: color 0.5s;
    font-weight: 600;
}

.name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}